<template>
<div class="step1">
	<h1>{{header}}</h1>
	<p>{{subheader}}</p>
	<h2>{{title}}</h2>
	<v-radio-group v-model="activeStep">
    	<v-radio
			v-for="(item, index) in items"
			:key="index"
			:label="item.name"
			color="primary"
			:value="index">
		</v-radio>
    </v-radio-group>
	<div>
		<v-btn @click="nextStep" color="primary" :disabled="!conditionStep" tag="a" href="#">Продолжить <v-icon dark right>directions_run</v-icon></v-btn>
	</div>
</div>
</template>
<script>
let data = login2030.step1;
export default {
	props: ['step', 'steptype'],
	data() {
		return {
			header: data.header,
			subheader: data.subheader,
			title: data.title,
			items: data.items,
			activeStep: -1
		}
	},
	computed: {
		conditionStep() {
			return this.activeStep === -1 ? false : true;
		}
	},
	methods: {
		cheFor(i) {
			return 'inpit_' + i;
		},
		nextStep() {
			if (this.conditionStep) {
				this.$emit('update:step', '2');
				this.$emit('update:steptype', this.activeStep);
				login2030.currentSteptype = this.activeStep;
			} else {
				return;
			}
		}
	}
}
</script>

