<template>
<div class="step3">
	<p>{{header}}</p>
	<h1 class="mb-2">{{title}}</h1>
	<div>
		<v-text-field
			:label="form.label.name"
			v-model="form.value.name"
		></v-text-field>
		<v-text-field
			:label="form.label.tel"
			v-model="form.value.tel"
		></v-text-field>
		<v-text-field
			:label="form.label.email"
			v-model="form.value.email"
		></v-text-field>
		<p>*В демо версии калькулятора мы не cобираем Ваши личные данные. Все поля формы не обязательны к заполнению. Увидеть следующий шаг, Вы можете просто нажав на синюю кнопку ниже</p>
		<v-btn @click="back" color="error" dark tag="a" href="#"><v-icon left>undo</v-icon> Назад</v-btn>
		<v-btn @click="send" color="primary">{{button.send}} <v-icon right dark>flight_takeoff</v-icon></v-btn>
	</div>
	<v-dialog v-model="dialog" max-width="500">
		<v-card>
			<v-card-title class="headline">Спасибо за тест моего калькулятора</v-card-title>
			<v-card-text>Никакие данные никуда не отправились, но все равно спасибо!</v-card-text>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn color="green darken-1" flat="flat" @click.native="dialog = false">Незачто</v-btn>
				<v-btn color="red darken-1" flat="flat" @click.native="location.reload()">Хочу еще раз</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</div>
</template>
<script>
import Vue from 'vue';
let data = login2030.step3;
let form = data.form;
let button = data.button;
let out = login2030.out;
let location = window.location;
export default {
	props: ['step'],
	data() {
		return {
			location,
			header: data.header,
			title: data.title,
			form: {
				ajax: form.ajax,
				sendError: form.sendError,
				label: {
					name: form.name,
					tel: form.tel,
					email: form.email,
					other: form.other,
				},
				value: {
					name: '',
					tel: '',
					email: '',
					other: ''
				},
				error: {
					text: form.error,
					visible: false
				}
			},
			button: {
				back: button.back,
				send: button.send
			},
			dialog: false
		}
	},
	methods: {
		send() {
			this.dialog = true;
		},
		back() {
			this.$emit('update:step', '2');
		}
	}
}
</script>
