<template>
<div class="step2">
	<p>{{subheader}}</p>
	<h1 class="mb-2">{{title}}</h1>
	<h3 class="mb-3">Тип выбранного объекта: <span class="green--text">{{step1Name}}</span></h3>
	<v-layout row wrap v-for="(value, key, index) in section" :key="index" style="margin-bottom:20px">
		<v-flex xs12>
			<v-card color="grey lighten-2">
				<v-card-text class="title">{{key}}</v-card-text>
			</v-card>
		</v-flex>
		<template v-for="(v, k, i) in section[key]">
			<v-flex xs12 :key="i">
				<v-card color="grey lighten-4">
					<h3 style="padding:16px">{{k}}</h3>
				</v-card>
			</v-flex>
			<v-flex v-for="(item, ind) in section[key][k]"  xs12 :key="ind" style="width:100%; ">
				<v-card style="padding:20px; width:100%;box-shadow:none;border-bottom: 1px solid #eee;box-sizing:border-box;">
					<div>
						<div class="c-card-header">
							<div class="c-card-header__image-container">
								<img  class="c-card-header__image" :src="imgPath+item.image" :alt="item.name">
							</div>
							<div class="c-card-header__info">
								<div>
									<div class="c-card-header__price headline">{{item.price}} {{currency}}</div>
									<div class="c-card-header__calc">
								    	<v-icon color="red darken-2" @click.prevent="minus(item, ind, section[key][k])">indeterminate_check_box</v-icon>
										<span class="c-card-header__count">{{item.count}}</span>
								    	<v-icon color="green darken-2" @click.prevent="plus(item, ind, section[key][k])">add_box</v-icon>
										<span class="c-card-header__count"> = {{styleNum(item.sum)}} {{currency}}</span>
									</div>
								</div>
							</div>
						</div>
						<div>
							<div class="c-goods-name">
								<div class="c-goods-name__icon">
									<v-badge color="green" v-if="goodsItemCount(item.count)">
		      							<span slot="badge">{{item.count}}</span>
									</v-badge>
								</div>
								<p class="subheading mb-2 pl-2">{{item.name}}</p>
							</div>
							<p class="body-1">{{labelDesc(item.desc)}} {{item.desc}}</p>
						</div>
					</div>
				</v-card>
			</v-flex>
		</template>
	</v-layout>
	<div class="display-1" :class="[classTotals, 'mb-4']">
		<v-badge overlay left overlap color="green" v-model="conditionStep">
      	<span slot="badge">{{goods.length}}</span>
			<v-icon right  :class="[classTotals]">shopping_cart</v-icon> Итого: <span>{{styleNum(totalSum)}} {{currency}}</span>
		</v-badge>
	</div>
	<div>
		<v-btn @click="prevStep" color="error" dark tag="a" href="#"><v-icon left>undo</v-icon> Назад</v-btn>
		<v-btn @click="nextStep" color="primary" :disabled="!conditionStep" tag="a" href="#">Продолжить <v-icon right dark>directions_run</v-icon></v-btn>
	</div>
</div>
</template>
<script>
import Vue from 'vue';
let step1 = login2030.step1;
let data = login2030.step2;
let button = data.button;
let goods = data.data;
let set = login2030.global;
export default {
	props: ['step', 'steptype', 'step1name'],
	data() {
		return {
			subheader: data.subheader,
			title: data.title,
			step1: this.steptype,
			step1Name: step1.items[this.steptype].name,
			button: {
				back: button.back,
				forward: button.forward
			},
			section: goods[this.steptype],
			currency: set.currency,
			imgPath: set.imgPath,
			// Параметры калькулятора
			totalSum: 0,
			goods: login2030.out.goods,
		}
	},
	computed: {
		conditionStep() {
			return (this.totalSum === 0) ? false : true
		},
		classTotals() {
			return this.conditionStep ? 'grey--text text--darken-4': 'grey--text'
		},
	},
	methods: {
		goodsItemCount(count) {
			return parseInt(count) ? true : false;
		},
		labelDesc(desc) {
			return desc ? '-' : '';
		},
		styleNum(str) {
			return String(str).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');
		},
		nextStep() {
			if (this.conditionStep) {
				this.$emit('update:step', '3');
				login2030.out.totalSum = this.totalSum;
				login2030.out.goods = this.goods; // Пишем товары в хранилище
			}
		},
		prevStep() {
			this.$emit('update:step', '1');
		},
		minus(el, i, type) {
			let goodsIndex = Vue._.findIndex(this.goods, {name: type[i].name});
			type[i].count -= 1;
			if (this.totalSum <= 0) {
				this.totalSum = 0;
			} else {
				if (type[i].count >= 0) {
					this.totalSum -= parseInt(el.price.replace(' ', ''));
				}
			}
			if (type[i].count <= 0) {
				type[i].count = 0;
				type[i].sum = 0;
				if (goodsIndex !== -1) {
					this.goods[goodsIndex].count = 0;
					Vue._.remove(this.goods, {count: 0});
				}
				return;
			}
			type[i].sum -= parseInt(type[i].price.replace(' ', ''));
			this.goods[goodsIndex].count = type[i].count;
		},
		plus(el, i, type) {
			this.totalSum += parseInt(el.price.replace(' ', ''));
			type[i].count += 1;
			type[i].sum += parseInt(type[i].price.replace(' ', ''));
			// Пуш и упдэйт выбранных товаров
			let goodsIndex = Vue._.findIndex(this.goods, {name: type[i].name});
			if (goodsIndex === -1) {
				this.goods.push({name: el.name, count: type[i].count});
			} else {
				this.goods[goodsIndex].count = type[i].count;
			}
		}
	},
	created() {
		// Добавляем к объекту новые реактивные свойства
		Vue._.forEach(this.section, section => {
			Vue._.forEach(section, type=> {
				Vue._.forEach(type, el => {
					Vue.set(el, 'count', 0);
					Vue.set(el, 'sum', 0);
				});
			});
		});
		this.$emit('update:step1name', this.step1Name);
		this.$emit('update:steptype', this.step1);
		login2030.out.parent = this.step1Name;
		login2030.cacheSteptype = this.step1;
		login2030.out.goods.length = 0; // Сбросили массив выбранных товаров после обновления компонента
	},
	activated() {
		login2030.cacheSteptype = login2030.currentSteptype; // Загнали в кеш текущую секцию
	}
}
</script>

