<template>
	<v-app>
		<v-content>
			<v-container fluid>
				<v-layout row wrap>
					<v-flex xs12 xl6 offset-xl3 lg8 offset-lg2 md10 offset-md1>
						<keep-alive>
							<step1 v-if="component === '1'" :step.sync="component" :steptype.sync="componentType"></step1>
						</keep-alive>
						<keep-alive :include="keepAliveStep2()">
							<step2 v-if="component === '2'" :step.sync="component" :steptype="componentType" :step1name.sync="step1Name"></step2>
						</keep-alive>
						<keep-alive>
							<step3 v-if="component === '3'" :step.sync="component"></step3>
						</keep-alive>
					</v-flex>
				</v-layout>
			</v-container>
		</v-content>
	</v-app>
</template>

<script>
import Step1 from './components/Step1.vue';
import Step2 from './components/Step2.vue';
import Step3 from './components/Step3.vue';
export default {
	components: {
		Step1,
		Step2,
		Step3,
	},
	data() {
		return {
			component: '1',
			componentType: null,
			step1Name: ''
		};
	},
	methods: {
		keepAliveStep2() {
			// Если выбрали другую секцию, то 2 степ перерисовываем
			return (login2030.currentSteptype === login2030.cacheSteptype) ? 'step2' : '';
		}
	}
}
</script>
