/** Stylus Styles */
@import '../node_modules/vuetify/src/stylus/main'

$base-width(w)
	width w
	max-width w
	min-width w

html
	min-width 500px
	overflow visible

.c-card-header
	display flex
	margin-bottom 15px
	user-select none 
	&__image-container
		$base-width(150px)
		margin-right 50px
	&__image
		display block
		width 100%
	&__info
		display flex
		align-items center
	&__calc
		display flex
		align-items center
		.material-icons
			font-size 35px
			cursor pointer
	&__price
		margin-bottom 10px
	&__count
		display block
		font-size 15px
		margin 0 5px

.c-goods-name
	display flex
	.badge__badge
		position relative
		top 0
		left 0
		right 0
		bottom 0
	
		
